autopep8==1.6.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Flask==1.1.4
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
pycodestyle==2.8.0
python-dotenv==0.14.0
requests==2.28.1
toml==0.10.2
urllib3==1.26.12
Werkzeug==1.0.1
colorthief==0.2.1
