{% extends "base.html.j2" %}

{% block container_styles %}
/* Light theme - transparent background */
background-color: transparent;
border: none;
{% endblock %}

{% block theme_styles %}
/* Light theme specific overrides */
.container {
    padding-top: 15px;
}

.song-text {
    font-weight: 600;
}

{% endblock %}
